#d1,#d2,#d3,#d4
  {
  	margin: 20px;
    height: 150px;
    background-color: grey;
  }
  
  #d5,#d6,#d7,#d8
  {
  	margin: 20px;
    height: 150px;
    background-color: grey;
  }
  
.container
	{
		background: yellow;
	}